<html>
    <head>
        <title>{{user.displayName}}'s Profile</title>
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if isAuth}}
            <li><a href="/logout">Log Out</a></li>
            {{else}}
            <li><a href="/login">Log In</a></li>
            {{/if}}
        </ul>
        <h1>{{user.displayName}}'s Profile</h1>

        <section>
            <div>
                Username: {{user.email}}
            </div>
            <div>
                Foursquare Account: <a href="{{url}}">{{url}}</a>
            </div>
            <h2>Recent Checkins</h2>

            {{#each checkins}}
            <h3>{{this.venue.name}}</h3>
            <ul>
                <li>City: {{this.venue.location.city}}</li>
                <li>State: {{this.venue.location.state}}</li>
                <li>Country: {{this.venue.location.country}}</li>
                <li>Total user checkins at location: {{this.venue.stats.checkinsCount}}</li>
            </ul>
            {{/each}}
        </section>
    </body>
</html>
