<html>
    <head>
        <title>{{user.displayName}}'s Profile</title>
    </head>
    <body>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if isAuth}}
            <li><a href="/logout">Log Out</a></li>
            {{else}}
            <li><a href="/login">Log In</a></li>
            {{/if}}
        </ul>
        <h1>{{user.displayName}}'s Profile</h1>

        <section>
            <div>
                Username: {{user.email}}
            </div>
            <div>
                Foursquare Account: <a href="{{url}}">{{url}}</a>
            </div>
            <h2>Recent Checkins</h2>

            <h3>{{checkin.venue}}</h3>
            <ul>
                <li>City: {{checkin.city}}</li>
                <li>State: {{checkin.state}}</li>
                <li>Country: {{checkin.country}}</li>
                <li>Category: {{checkin.category}}</li>
            </ul>
        </section>
    </body>
</html>